* {

}

body {
    margin: 50px;
    background: #ffffff;
    box-sizing: border-box;
}

h2 {
    font-family: Pacifico, serif;
    color: white;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

p {
    font-family: Cookie, serif;
    color: white;
    font-size: 1.5em;
}

.div-border {
    border: 5mm solid red;
    height: 700px;
    width: 1000px;
    position: relative;
    overflow-x: auto;
    padding: 20px;
}

.hdiv {
    padding: 10px;
    background-color: green;
    border: 2px solid black;
    width: 200px;
    height: 660px;
    display: inline-block;
    float: left;
    position: absolute;
}

.h1 {
    left: 20px;
    overflow-y: auto;
}

.h2 {
    left: 260px;
}

.h3 {
    left: 500px;
}

.h4 {
    left: 740px;
}

.h5 {
    left: 980px;
}

.h6 {
    left: 1220px;
}

.h7 {
    left: 1460px;
}

.vdiv {
    padding: 10px;
    background-color: blue;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    display: inline-block;
    float: left;
    position: absolute;
    overflow-y: auto;
}

.v1 {
    top: 10px;
}

.v2 {
    top: 200px;
}

.v3 {
    top: 390px;
}

.v4 {
    top: 580px;
}

.v5 {
    top: 770px;
}

.v6 {
    top: 960px;
}